.nav-link {
    color: black !important;
    font-weight: 300;
}

.nav-link:hover {
    border-radius: 7px;
    padding: 6px 0px;
    background: #11ADE8;
    transition: 0.2s;
}

.line-height-reduced {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}